{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/travel/check-travelled" method="post">


        {{ govukRadios({
          name: "travelled",
          fieldset: {
            legend: {
              text: "Have you travelled outside the UK in the last 12 months?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          value: data["travelled"] or "",
          items: [
            {
              value: "Yes",
              text: "Yes",
              hint: {
                text: "You will be able to add each trip you took"
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
