{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

<ul>
    <li><a href="/tutorial/home">Tutorial</a></li>
    <li><a href="/fishing/home">Fishing</a></li>
    <li><a href="/passport/home">Passport</a></li>
    <li><a href="/travel/home">Travel</a></li>
    <li><a href="/residency/home">Residency</a></li>
    <li><a href="/grant/home">Grant</a></li>
</ul>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
